
torch>=1.11.0  # pip3 install torch torchvision torchaudio

numpy
opencv-python  # cv2
glob2
Image
scipy
scikit-image # instead of skimage
matplotlib  # .pyplotlib
IPython
Pillow  # PIL

ffmpeg
#libsm6
#libxext6

# os
# re
# gc
# abc
# enum
# time
# math
# random
